{:nomad/hosts
 {"pica"
  {:frodo/config {:nrepl {:port 7888}
                  :web {:port 8020
                        :app decide-host.web/app}}
   :zmq {:protocol "decide-host@1"
         :endpoint "tcp://127.0.0.1:5555"
         :heartbeat-ms 2000
         :heartbeat-init-alive 10}
   :db {:uri "mongodb://localhost:27017/decide"}
   :email {:admins ["dmeliza@gmail.com"]
           :send? false}}}
 "aplonis"
  {:frodo/config {:nrepl {:port nil}
                  :web {:port 8020
                        :app decide-host.web/app}}
   :zmq {:protocol "decide-host@1"
         :endpoint "tcp://192.168.10.1:5555"
         :heartbeat-ms 2000
         :heartbeat-init-alive 10}
   :db {:uri "mongodb://localhost:27017/decide"}
   :email {:admins ["dmeliza@gmail.com"]
           :send? true
           :transport {:host "192.168.10.1" :port 25}}}}
