#interface {
    margin-left: auto;
    margin-right: auto;
}

#page1 {
    font-family: monospace;
}

#boxlist {
    margin-top: 2%;
}

.hbar {
    font-family: monospace;
    background: black;
}

.ahead {
    margin: 5px;
    font-size: small;
    font-weight: bold;
}

ul.item-list {
    padding-left: 5px;
    margin: 2px 5px 2px 15px;
}

ul.property-list {
    padding-left: 0px;
    margin: 2px 5px 2px 5px;
    list-style-type: none;
    font-weight: normal;
}

ul.property-list li:before {
    content: "\2013 \0020";
}

.abox {
    margin: 2px 5px 2px 15px;
    font-size: smaller;
}

a {
    color: #008cba;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.success {
    color: #3c763d;
}

.error {
    color: #a94442
}
