[Unit]
Description=decide operant host service
Wants=network-online.target
After=network-online.target
Wants=mongodb.service
After=mongodb.service
ConditionPathExists=|/srv/decide-host

[Service]
WorkingDirectory=/srv/decide-host
ExecStart=/usr/bin/java -jar /srv/decide-host/target/uberjar/decide-2.0.0-standalone.jar
Restart=always
StandardOutput=syslog
SyslogIdentifier=decide-host
User=nobody
Group=operant
Environment=PATH=/bin:/usr/bin:/usr/local/bin:

[Install]
WantedBy=multi-user.target
