[Unit]
Description=decide operant host service
Wants=network-online.target
After=network-online.target
Wants=mongodb.service
After=mongodb.service
ConditionPathExists=|/srv/decide

[Service]
WorkingDirectory=/srv/decide
ExecStart=/usr/bin/java -jar /srv/decide/target/uberjar/decide-2.0.0-standalone.jar
Restart=always
StandardOutput=syslog
SyslogIdentifier=decide-host
User=nobody
Group=operant
Environment=PATH=/usr/bin:/usr/local/bin:

[Install]
WantedBy=multi-user.target
